<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="stylesheet" type="text/css" href="/runner/jasmine/jasmine.css">
  <script type="text/javascript" src="/runner/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="/runner/jasmine/jasmine-json.js"></script>

  {% for lib_path in lib_path_list %}
  <script type="text/javascript" src="/suite/{{ suite_num }}/include/{{ lib_path }}"></script>
  {% endfor %}

  {% for src_path in src_path_list %}
  <script type="text/javascript" src="/suite/{{ suite_num }}/include/{{ src_path }}"></script>
  {% endfor %}

  {% for spec_path in spec_path_list %}
  <script type="text/javascript" src="/suite/{{ suite_num }}/include/{{ spec_path }}"></script>
  {% endfor %}

  <script type="text/javascript">
(function() {
    var jasmineEnv = jasmine.getEnv();
    jasmineEnv.updateInterval = 1000;

    var jsonReporter = new jasmine.JsonReporter("{{ div_id }}", "{{ suite_num }}");

    jasmineEnv.addReporter(jsonReporter);

    var currentWindowOnload = window.onload;

    window.onload = function() {
        if (currentWindowOnload) {
            currentWindowOnload();
        }

        execJasmine();
    };

    function execJasmine() {
        jasmineEnv.execute();
    }

})();
  </script>

</head>

<body>
    <div id="{{ div_id }}"></div>
</body>
</html>
